--create database [DBWebBanXeDap2]
USE [DBWebBanXeDap2]
GO
/****** Object:  Table [dbo].[tCategory]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategory](
	[MaLoai] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_tCategory] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCountry]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCountry](
	[MaNuoc] [nvarchar](50) NOT NULL,
	[TenNuoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_tCountry] PRIMARY KEY CLUSTERED 
(
	[MaNuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCustumers]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustumers](
	[CustumerID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_tCustumers] PRIMARY KEY CLUSTERED 
(
	[CustumerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMembership]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMembership](
	[MemberID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_tMembership] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tOrder]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tOrder](
	[OrderID] [nvarchar](50) NOT NULL,
	[CustumerID] [nvarchar](50) NULL,
	[MemberID] [nvarchar](50) NULL,
	[NgayBan] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tOrder_detall]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tOrder_detall](
	[OrderID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NULL,
	[Prices] [float] NULL,
 CONSTRAINT [PK_tOrder_detall] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tProduct]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduct](
	[ProductID] [nvarchar](50) NOT NULL,
	[ProducName] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Weight] [float] NULL,
	[Amount] [int] NULL,
	[Price] [float] NULL,
	[MaLoai] [nvarchar](50) NULL,
	[MaChatLieu] [nvarchar](50) NULL,
	[MaNSX] [nvarchar](50) NULL,
	[MaAnh] [nvarchar](50) NULL,
	[GioiThieu] [nvarchar](max) NULL,
	[Discount] [int] NULL,
	[BaoHanh] [nvarchar](20) NULL,
	[MaNuoc] nvarchar(50) NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_tProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 
GO
/****** Object:  Table [dbo].[tProduct_Img]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduct_Img](
	[ProductID]  [nvarchar](50) NOT NULL,
	[TenFileAnh] [char](100) NOT NULL,
	[ViTri] [smallint] NULL,
 CONSTRAINT [PK_tProduct_Img] PRIMARY KEY CLUSTERED 
(
	[ProductID]  ASC,
	[TenFileAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
/****** Object:  Table [dbo].[tSubstance]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSubstance](
	[MaChatLieu] [nvarchar](50) NOT NULL,
	[ChatLieu] [nvarchar](50) NULL,
 CONSTRAINT [PK_tSubstances] PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tSuppliers]    Script Date: 10/29/2022 3:34:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSuppliers](
	[MaNSX] [nvarchar](50) NOT NULL,
	[TenNSX] [nchar](10) NULL,
 CONSTRAINT [PK_tSuppliers] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tCategory] ([MaLoai], [TenLoai]) VALUES (N'DH', N'Địa hình')
INSERT [dbo].[tCategory] ([MaLoai], [TenLoai]) VALUES (N'DP', N'Đường phố')
INSERT [dbo].[tCategory] ([MaLoai], [TenLoai]) VALUES (N'TE', N'Trẻ em')
GO
INSERT [dbo].[tCountry] ([MaNuoc], [TenNuoc]) VALUES (N'AM', N'America')
INSERT [dbo].[tCountry] ([MaNuoc], [TenNuoc]) VALUES (N'AU', N'Australia')
INSERT [dbo].[tCountry] ([MaNuoc], [TenNuoc]) VALUES (N'CN', N'China')
GO
INSERT [dbo].[tCustumers] ([CustumerID], [Name], [Phone], [Address], [Email]) VALUES (N'KH1', N'Phạm Minh Phúc', N'0356607608', N'Hải Phòng', N'phucdz@gmail.com')
INSERT [dbo].[tCustumers] ([CustumerID], [Name], [Phone], [Address], [Email]) VALUES (N'KH2', N'Nguyễn Hả Đăng', N'0301023133', N'Thanh Hóa', N'barcaga@gmail.com')
INSERT [dbo].[tCustumers] ([CustumerID], [Name], [Phone], [Address], [Email]) VALUES (N'KH3', N'Trần Văn Long', N'0402144124', N'Hà Nội', N'longkodz@gmail.com')
GO
INSERT [dbo].[tMembership] ([MemberID], [Name], [SDT], [Address], [GioiTinh]) VALUES (N'MB1', N'Minh  Phúc Phạm', N'0356023131', N'Hải Phòng', N'Nam')
INSERT [dbo].[tMembership] ([MemberID], [Name], [SDT], [Address], [GioiTinh]) VALUES (N'MB2', N'Hải  Đăng Nguyễn', N'0323432424', N'Thanh Hóa', N'Nữ')
INSERT [dbo].[tMembership] ([MemberID], [Name], [SDT], [Address], [GioiTinh]) VALUES (N'MB3', N'Văn Long Trần', N'0301313131', N'Hà Nội', N'Nam')
GO
INSERT [dbo].[tOrder] ([OrderID], [CustumerID], [MemberID], [NgayBan]) VALUES (N'HD1', N'KH2', N'MB4', CAST(N'1998-04-26T00:00:00.000' AS DateTime))
INSERT [dbo].[tOrder] ([OrderID], [CustumerID], [MemberID], [NgayBan]) VALUES (N'HD10', N'KH3', N'MB1', CAST(N'2019-04-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tOrder] ([OrderID], [CustumerID], [MemberID], [NgayBan]) VALUES (N'HD2', N'KH1', N'MB1', CAST(N'1998-04-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tOrder_detall] ([OrderID], [ProductID], [Prices]) VALUES (N'HD1', N'PD1', NULL)
INSERT [dbo].[tOrder_detall] ([OrderID], [ProductID], [Prices]) VALUES (N'HD10', N'PD9', NULL)
INSERT [dbo].[tOrder_detall] ([OrderID], [ProductID], [Prices]) VALUES (N'HD2', N'PD18', NULL)
GO
INSERT [dbo].[tProduct_Img] ([ProductID], [TenFileAnh]) VALUES (N'PD1', N'xe-dap-california-570cc.jpg')
INSERT [dbo].[tProduct_Img] ([ProductID], [TenFileAnh]) VALUES (N'PD10', N'xe-dap-cho-be-tap-di-gia-re-0cf8.jpg')
INSERT [dbo].[tProduct_Img] ([ProductID], [TenFileAnh]) VALUES (N'PD11', N'xe-dap-tre-em-thong-nhat-mtb-24.jpg')
GO
INSERT [dbo].[tSubstance] ([MaChatLieu], [ChatLieu]) VALUES (N'Ca', N'Carbon')
INSERT [dbo].[tSubstance] ([MaChatLieu], [ChatLieu]) VALUES (N'CO', N'Composite')
INSERT [dbo].[tSubstance] ([MaChatLieu], [ChatLieu]) VALUES (N'HKN', N'Hợp kim nhôm')
GO
INSERT [dbo].[tSuppliers] ([MaNSX], [TenNSX]) VALUES (N'CG', N'Cầu Giấy  ')
INSERT [dbo].[tSuppliers] ([MaNSX], [TenNSX]) VALUES (N'DD', N'Đống Đa   ')
INSERT [dbo].[tSuppliers] ([MaNSX], [TenNSX]) VALUES (N'DP', N'Đan Phượng')
GO
ALTER TABLE [dbo].[tOrder]  WITH CHECK ADD  CONSTRAINT [FK_tOrder_tCustumers] FOREIGN KEY([CustumerID])
REFERENCES [dbo].[tCustumers] ([CustumerID])
GO
ALTER TABLE [dbo].[tOrder] CHECK CONSTRAINT [FK_tOrder_tCustumers]
GO
ALTER TABLE [dbo].[tOrder]  WITH CHECK ADD  CONSTRAINT [FK_tOrder_tMembership] FOREIGN KEY([MemberID])
REFERENCES [dbo].[tMembership] ([MemberID])
GO
ALTER TABLE [dbo].[tOrder] CHECK CONSTRAINT [FK_tOrder_tMembership]
GO
ALTER TABLE [dbo].[tOrder_detall]  WITH CHECK ADD  CONSTRAINT [FK_tOrder_detall_tOrder] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tOrder] ([OrderID])
GO
ALTER TABLE [dbo].[tOrder_detall] CHECK CONSTRAINT [FK_tOrder_detall_tOrder]
GO
ALTER TABLE [dbo].[tOrder_detall]  WITH CHECK ADD  CONSTRAINT [FK_tOrder_detall_tProduct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tOrder_detall] CHECK CONSTRAINT [FK_tOrder_detall_tProduct]
GO
ALTER TABLE [dbo].[tProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_tCountry] FOREIGN KEY([MaNuoc])
REFERENCES [dbo].[tCountry] ([MaNuoc])
GO
ALTER TABLE [dbo].[tProduct] CHECK CONSTRAINT [FK_tProduct_tCountry]
GO
ALTER TABLE [dbo].[tProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_tSubstance] FOREIGN KEY([MaChatLieu])
REFERENCES [dbo].[tSubstance] ([MaChatLieu])
GO
ALTER TABLE [dbo].[tProduct] CHECK CONSTRAINT [FK_tProduct_tSubstance]
GO
ALTER TABLE [dbo].[tProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_tCategory] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[tCategory] ([MaLoai])
GO
ALTER TABLE [dbo].[tProduct] CHECK CONSTRAINT [FK_tProduct_tCategory]
GO
ALTER TABLE [dbo].[tProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_tSuppliers] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[tSuppliers] ([MaNSX])
GO
ALTER TABLE [dbo].[tProduct] CHECK CONSTRAINT [FK_tProduct_tSuppliers]
GO
ALTER TABLE [dbo].[tProduct_Img]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_Img_tProDuct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tProDuct] ([ProductID])
go
ALTER TABLE [dbo].[tProduct_Img] CHECK CONSTRAINT [FK_tProduct_Img_tProDuct]

