@model IEnumerable<demo_xedap.Models.tCategory>
@{
    int i = 0;
    foreach (var cate in Model)
    {
        i++;
        <li class="main-nav-list child"><a href="#">@cate.TenLoai<span class="number">(13)</span></a></li>
    }
}
