@using demo_xedap.Models;
@model List<tSubstance>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("ProductsBySubstance", "Home", new { @MaChatLieu = item.MaChatLieu })">@item.ChatLieu</li>
}

